extends ./layout

block content
  each guest in guests
    .tile
      a(href="/#{guest.id}")
        h3= guest.name
      p Address: #{guest.json['Mailing Address']}
      p Email: #{guest.json['Email Address']}
      if guest.json.RSVP === "true"
        p RSVP'ed: 
          span.green Yes!
      else
        p RSVP'ed: 
          span.red No

      if guest.json.Thanked === "true"
        p thanked'ed: 
          span.green Yes!
      else
        p Thanked:  
          span.red No